/venv/
/.idea/
/src/video_to_title/img/
/src/video_to_title/src_slide/asdff/
/src/video_to_title/test/
/src/video_to_title/datastr1.mp4
/src/video_to_title/datastr7.mp4
/src/video_to_title/output.txt
/src/video_to_title/zzfzz.mp4
